<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

   <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="logo-sisnotificacao.png">
    </a>
    <h1>Comece <span class="signboard"></span> com o SisNotificação</h1>
    <p>SisNotificação ajuda a comunicar eventos relacionados ao workflow corporativo.
Entrega mais informações do que um SMS e com 100% de economia ao custo deste serviço.</p>
    <a type="button" class="btn btn-lg btn-primary" href="https://dl.dropboxusercontent.com/u/4944384/siscomando-alpha.apk"><span class="glyphicon glyphicon-download"></span> Download .apk (pre-release)</a>
  </div>
</div>
    
<div class="container">
  <!-- <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs" class="alert-link">Getting Started with Node on Heroku</a> tutorial.
  </div> -->

  <!-- title -->
  <div class="row">
      <div class="col-md-12">
          <h2 class="text-center">COMO FUNCIONA <br>
          <div class="caller">&nbsp;</div></h2>
      </div>
  </div>
  <!-- dica 1 -->
  <div class="row">
      <div class="col-md-7">
          <h4 class="subtitles">SIGA OS SERVIÇOS DO SEU INTERESSE <br>
          <div class="caller">&nbsp;</div></h4>
          <ul class="news">
            <li>Pesquise pelo serviço utilizando qualquer termo de busca relacionado</li>
            <li>Consulte as informações adicionais como nível de serviço</li>
            <li>Siga o serviço de seu interesse marcando como favorito</li>
          </ul>          
      </div>
      <div class="col-md-5">
          <div class="text-center subtitles">
            <video autoplay width="220px" loop>
                <source src="sisnotifica_1.webm" type='video/webm; codecs="vp8, vorbis"'/>
                <img src="sisnotifica_1.gif" width="220px">
            </video>
          </div>
      </div>
  </div>  
  <!-- dica 2 -->
  <div class="row">
      <div class="col-md-5">
          <div class="text-center subtitles">
            <video autoplay width="220px" loop>
                <source src="video_gif_features_2.webm" type='video/webm; codecs="vp8, vorbis"'/>
                <img src="video_gif_features_2.gif" width="220px">
            </video>          
          </div>
      </div>      
      <div class="col-md-7">
          <h4 class="subtitles">RECEBA NOTIFICAÇÕES E ANALISE A PERFORMANCE
DOS NÍVEIS DE SERVIÇO DIRETAMENTE DO SEU CELULAR <br>
          <div class="caller">&nbsp;</div></h4>
          <ul class="news">
            <li>Encontre serviços por consultas georeferenciadas </li>
            <li>Acesse todo histórico de mensagens em apenas um clique</li>
            <li>Siga os serviços que lhe interessa para receber notificações
e alertas </li>
          </ul>          
      </div>
  </div>  
</div>
    
<footer class="footer">
      <div class="row">
          <div class="col-md-2 column">
            <img src="logo-sisnotificacao.png" width="80px"/>
          </div>
          <div class="col-md-2 column"></div>
          <div class="col-md-4 column">
              <h4>Sobre nós<br><div class="caller">&nbsp;</div></h4>
              <p>Notificações seguras e mais completas!</p>
          </div>
          <div class="col-md-4 column">
              <h4>Conecte-se<br><div class="caller">&nbsp;</div></h4>
              <ul>
                <li>#SisNotificação (voce.serpro)</li>
                <li>sisnotificacao@serpro.gov.br</li>
              </ul>
          </div>
      </div>
</footer>    


</body>
</html>
